---
import { Link, List, ListItem } from "@/components";
import { constants } from "@/config";
import { Email, GitHub, Twitter } from "@/icons";
import Page from "@/layouts/page.astro";
import { Image } from "astro:assets";
import profile_image from "public/profile.jpg";
---

<Page
  title={constants.profile.title}
  description={constants.profile.description}
  keywords="personal, website, blog"
  image={constants.profile.image}
  type="website"
>
  <h1 class="mb-10 text-4xl font-bold">Hi, I’m Gangeshwar!</h1>
  <section>
    <div>
      <Image
        class={"rounded-full"}
        src={profile_image}
        alt="Gangeshwar"
        width={150}
        height={150}
      />
    </div>
  </section>
  <section class="mt-14 space-y-2">
    <h2 class="text-xl font-normal leading-loose sm:leading-loose">
      I’m the Co-founder & CTO of <a
        class="underline"
        href="https://mindfi.co/"
        target="_blank">MindFi (YC S21)</a
      > based in Singapore. I love building products and user experiences. I started
      writing code when I was 14 and do not plan to stop any time soon.
    </h2>

    <h2 class="text-xl font-normal leading-loose sm:leading-loose">
      Hit me up if you want to talk about startups, technology, or anything
      else!
    </h2>
  </section>

  <section class="mt-12 space-x-3">
    <Link
      href={constants.profile.links.email}
      classList={{ ["text-default"]: true }}
      aria-label="Email"
    >
      <Email />
    </Link>

    <Link
      href={constants.profile.links.github}
      classList={{ ["text-default"]: true }}
      aria-label="GitHub"
    >
      <GitHub />
    </Link>

    <Link
      href={constants.profile.links.twitter}
      classList={{ ["text-default"]: true }}
      aria-label="Twitter"
    >
      <Twitter />
    </Link>
  </section>

  <section class="mb-16">
    <h2 class="mt-28 text-2xl font-bold">Research Publications</h2>

    <List class="mt-12 list-none space-y-4">
      {
        constants.publications
          .slice(0, 3)
          .map(({ name, description, link }) => (
            <ListItem>
              <Link href={link}>{name}</Link> — {description}
            </ListItem>
          ))
      }
    </List>

    <Link href="/publications" class="mt-10 inline-block text-sm font-medium">
      View all publications <span class="ml-2">→</span>
    </Link>
  </section>
</Page>
